.nerdcom-publicity img:first-child,
.nerdcom-publicity-tour img:first-child  
    max-width: 100%


.nerdcom-publicity img:last-child 
    bottom: 190px 
    max-width: 100%

.nerdcom-publicity-tour img:last-child 
    bottom: 70px 
    max-width: 100%    