// SLICK CAROUSEL
$slick-font-path: "../fonts/"
$slick-loader-path: "../images"

    
// BREAKPOINTS
$sm: map-get($grid-breakpoints, "sm")
$md: map-get($grid-breakpoints, "md")
$lg: map-get($grid-breakpoints, "lg")
$xl: map-get($grid-breakpoints, "xl")

// COLORS
$white: white
$black: black
$blue: #3498db
$blue-light: #e5f5f8
$blue-dark: #372e44
$bg-blue: #f2f5f8
$blue-help: #2384C6
$green: #5bc758
$orange: #ECA93F
$dark-orange: #de3723
$red: #db1b1b
$green-grab: #007E56
$green-pro: #3afc00

// MEASURE
$measure: 5

// SPACER TIMES
$spacer-limit: 150


$site-grays: ( "gray-100": $gray-100, "gray-200": $gray-200, "gray-300": $gray-300, "gray-400": $gray-400, "gray-500": $gray-500, "gray-600": $gray-600 )
$site-grays: map-merge( $site-grays, ( "gray-700": $gray-700, "gray-800": $gray-800, "gray-900": $gray-900 ) )
$site-colors: ( "white": $white, "black": $black, "blue": $blue, "green": $green, "orange": $orange, "dark-orange": $dark-orange, "red": $red, "blue-light": $blue-light, "green-grab": $green-grab, "blue-dark": $blue-dark, "bg-blue" : $bg-blue, "blue-help" : $blue-help, "green-pro" : $green-pro)
$site-colors: map-merge( $site-colors, $site-grays )
