// SLICK CAROUSEL
$slick-font-path: "../fonts/"
$slick-loader-path: "../images"

    
// BREAKPOINTS
$sm: map-get($grid-breakpoints, "sm")
$md: map-get($grid-breakpoints, "md")
$lg: map-get($grid-breakpoints, "lg")
$xl: map-get($grid-breakpoints, "xl")

// COLORS
$white: white
$black: black
$blue: #3498db
$green: #5bc758
$orange: #ECA93F
$dark-orange: #de3723
$red: #db1b1b

$site-colors: ( white: $white, black: $black, blue: $blue, green: $green, orange: $orange, dark-orange: $dark-orange, red: $red )