.prices
    margin-top: 4em
    
    .prices-plan--offer
        padding-top: 3rem

    .border-primary-orange
        border: 2px solid #de3723 !important
        height: 50%
        margin-top: -18px
    
    .price 
        
        .sym-dollar
            &:before
                content: "$" 