.prices
    &-plan
        position: relative
        z-index: 10
        margin-bottom: 20px

        &-offer
            margin-bottom: 1.5rem
            padding:
                top: 3rem
                bottom: 3rem
            box-shadow: 0px 3px 10px rgba( black, .1 )

            p
                margin: 0

            &-old
                span
                    display: inline-block
                    width: 40px
                    height: 40px
                    line-height: 40px

            &-price
                .sym-dollar
                    &:before
                        content: "$"
                        position: relative
                        vertical-align: top
                        top: 15px
                        font-size: 20px
                        font-weight: 700

        &-features
            li
                span
                    margin-bottom: 10px
                    padding: 0

        &--featured
            z-index: 20
            margin-top: 0

        &--featured &-offer
            padding:
                top: 4.5rem
                bottom: 4.5rem
            margin:
                left: -1px
                right: -1px
            border: 1px solid green !important

