.comming-soon

    .bg-video
        position: absolute
        z-index: 10
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: auto
        min-width: 100%
        height: auto
        min-height: 100%
        background-color: $black
        overflow: hidden
        
        video
            position: absolute
            z-index: 10
            top: 50%
            left: 50%
            transform: translate( -50%, -50% )
            width: auto
            min-width: 100%
            height: auto
            min-height: 100%

        &::after 
            content: ""
            position: absolute
            z-index: 20
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-color: rgba( $black,.5 )

    .margin-top-bottom
        margin-top: 55px
    
    &--info
        position: relative
        z-index: 20
        margin: 50px auto
        width: 85%

        .countdown
            margin-bottom: 1.5rem

    .logo-soon
        max-width: 150px

    .content
        width: 80%

    .under-construction
        margin-top: 50px 

    .social-networks
        margin-bottom: 50px
        
        .nav
            .nav-link
                padding-left: .5rem
                padding-right: .5rem         
