.business-integration 
    background-image: url(./images/integration-intro.png)
    background-size: contain 
    height: 520px
    background-repeat: no-repeat
    background-position: center bottom
    background-color: #EAF2F3

.apps-tool   
	background-image: url(./images/bg-integration-travel.png)
	background-size: contain
	height: 780px
	background-repeat: no-repeat
	background-color: #372e44
    background-position: center top

.integrate--integration
    max-width: 302px      