.business-integration 
    background-image: url(./images/integration-intro.png)
    background-size: contain 
    height: 500px
    background-repeat: no-repeat
    background-position: center bottom
    background-color: #EAF2F3

.integrate--integration
    max-width: 302px      