.business-integration 
    margin-top: 55px 
    background-image: url(./images/integration-intro.png)
    background-size: contain 
    height: 500px
    background-repeat: no-repeat
    background-position: center bottom