.carousel-webdesign-hero
	position: absolute
	z-index: 1
	width: 650px
	top: 38%
	//left: -14%
	right: -26%
	margin-top: 0px

.webdesigns-hero
	height: 670px	

.info-hero
	margin-top: 0px	
	margin-left: 30px

.webdesign-hero-image
	max-width: 100%	