.webdesigns-hero
	height: 970px

// ADDITIONAL INFO Section
.additional-info
	.col-12
		position: relative

		&:nth-child(odd)
			.additional-box
				float: left

			& img
				position: absolute
				z-index: 10
				top: 30px
				left: 220px
				transform: initial

		&:nth-child(even)
			.additional-box
				float: right

			& img
				position: absolute
				z-index: 10
				top: 30px
				right: 300px
				transform: initial

// HOW TO WORK Section
.howtowork
	.howtowork-carousel-bg
		height: 485px

	.carousel-howtowork
		margin: 25px auto 0
		width: 515px

		.slick-arrow
			font-size: 4em

		.carousel-prev-btn
			left: -90px

		.carousel-next-btn
			right: -90px

		//.slick-list
		//	margin: 45px auto 0
		//	width: 810px
		//	height: 505px