.carousel-webdesign-hero
	position: absolute
	z-index: 1
	width: 800px
	top: 58%
	//left: -14%
	right: -15%
	margin-top: 0px

.webdesigns-hero
	height: 670px	

.info-hero
	margin-top: 0px	
	margin-left: 100px

.webdesign-hero-image
	max-width: 100%	