// HERO
.webdesigns-hero
	height: 970px

	// CAROUSEL
	.carousel-webdesign-hero
		margin-top: 100px

//.slick-arrow
//	display: none

.webdesign-hero-image
	max-width: 100%

.carousel-sample-design
	max-width: 100%
	display: block

.additional-box
	width: 250px
	height: 300px
	padding: 50px
	margin: 10px auto

.carousel-howtowork
	max-width: 100%
	display: block

.random-color
	transition-duration: .5s
	transition-timing-function: ease-in-out
	transition-property: color, background-color