.webdesigns-hero
	height: 970px

.carousel-webdesign-hero
	position: absolute
	z-index: 1
	width: 300px
	//left: -14%
	margin-top: 100px
	margin-left: -5px
	display: block
	padding: 0
	color: transparent
	background: transparent
	border: none
	line-height: 0
	cursor: pointer
	outline: none
	-webkit-transform: translate(0, -50%)
	-ms-transform: translate(0, -50%)
	transform: translate(0, -50%)	

.slick-arrow
	display: none	

.webdesign-hero-image
	max-width: 100%

.info-hero
	margin-top: -40px

.carousel-sample-design
	max-width: 100%
	display: block

.additional-box
	width: 250px
	height: 300px
	padding: 50px
	margin: 10px auto

.carousel-howtowork
	max-width: 100%
	display: block		