<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <meta name="author" content="nerdcom.us">
    <meta name="replay" content="rjavier@nerdcomhost.com">
    <meta name="description" content="web hosting, domain names, web site, search engine optimization, hosting, servers">
    <meta name="keywords" content="Web Hosting Services,Reseller Hosting,VPS,Cloud,and Dedicated Servers,Web Hosting Domain">
    <meta name="Resource-type" content="Homepage">
    <meta name="Revisit-after" content="1 days">
    <meta name="robots" content="all">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nerdcom Host - web hosting, domain names, web site, hosting, servers</title>

    <link rel="canonical" href="https://k.nerdcom.host/">
    <link rel="shortcut icon" href="./images/favicon.ico">
</head>
<body class="comming-soon">
    <div class="container-fluid">     
        <!-- Header section -->
        <header id="header" class="row header mobile-header" data-path-images="./images/"></header>
        
        <div class="row margin-top-bottom">
            <div class="col-12 col-md-9 p-relative">
                <!-- Background Vídeo -->
                <div class="bg-video">
                    <video src="./videos/background_video.mov" autoplay loop muted></video>
                </div>
                <!-- Comming Soon Info -->
                <div class="content comming-soon--info text-center text-md-left">
                    <h1 class="font-weight-bold text-white text-uppercase">Comming Soon</h1>
                    <p class="lead text-white">Celebrando 10 años de crear tecnología como buen dominicano.</p>
                    <!-- Counterdown -->
                    <div class="countdown">
                        <p id="countdown" class="h2 text-white">0 Días y 00 Horas</p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <button class="btn btn-block btn-red btn-fat">Contáctenos</button>
                    </div>
                </div>
            </div>
            <!-- Aside -->
            <div class="col-12 col-md-3 bg-black d-flex align-items-center justify-content-around flex-column">
                <!-- Info Construction -->
                <div class="content under-construction">
                    <p class="text-white text-spacing text-center text-md-left">Nuestro sitio web está en construcción, pero estamos listos para comenzar. ¿Quieres saber más sobre nosotros, contarnos sobre tu proyecto o simplemente saludar? Envíenos un mensaje y volveremos lo más pronto posible.</p>
                </div>
                <!-- Social Network -->
                <div class="content social-networks">
                    <nav class="nav justify-content-center">
                        <a href="https://twitter.com/nerdcomhost" class="nav-item nav-link"><i class="fab fa-twitter fa-2x text-white"></i></a>
                        <a href="https://facebook.com/nerdcomllc/" class="nav-item nav-link"><i class="fab fa-facebook fa-2x text-white"></i></a>
                        <a href="https://instagram.com/nerdcomhost" class="nav-item nav-link"><i class="fab fa-instagram fa-2x text-white"></i></a>
                        <a href="https://instagram.com/nerdcomhost" class="nav-item nav-link"><i class="fab fa-linkedin fa-2x text-white"></i></a>
                        <a href="https://www.youtube.com/user/nerdcomhost" class="nav-item nav-link"><i class="fab fa-youtube fa-2x text-white"></i></a>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Footer section -->
        <footer id="footer" class="row footer" data-path-images="./images/"></footer>
    </div>
    <!-- STYLES -->
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="./main.css">
    </noscript>
    
    <!-- SCRIPTS -->
    <script src="./scripts.min.js" async></script>    
</body>
</html>