<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102297130-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);} 
        gtag('js', new Date());

        gtag('config', 'UA-102297130-1');
    </script>
    <!-- End Global site tag -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MGPDMVB');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <meta name="author" content="nerdcom.us">
    <meta name="replay" content="rjavier@nerdcomhost.com">
    <meta name="description" content="web hosting, domain names, web site, search engine optimization, hosting, servers">
    <meta name="keywords" content="Web Hosting Services,Reseller Hosting,VPS,Cloud,and Dedicated Servers,Web Hosting Domain">
    <meta name="Resource-type" content="Homepage">
    <meta name="Revisit-after" content="1 days">
    <meta name="robots" content="all">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nerdcom Host - web hosting, domain names, web site, hosting, servers</title>

    <!-- STYLES -->
    <link rel="canonical" href="https://k.nerdcom.host/">
    <link rel="shortcut icon" href="./images/favicon.ico">
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGPDMVB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container-fluid">
        <!-- Header section -->
        <header id="header" class="row header mobile-header"></header>
        
        <!-- Hero section -->
        <div class="row nerdcom-platform-hero">
            <div class="container">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas atque at velit necessitatibus voluptates qui natus ipsa, vitae, quibusdam eligendi ipsam perspiciatis ad in eum, quasi eos commodi tenetur. Maiores.</p>
            </div>
        </div>

        <!-- NERDCOM Platform Menu -->
        <div class="row nerdcom-platform-menu">
            <div class="container">
                <nav class="nav justify-content-center nav-fill">
                    <a class="nav-item nav-link" href="./home.html">Inicio</a>
                    <a class="nav-item nav-link" href="./precios.html">Precios</a>
                    <a class="nav-item nav-link" href="./tour.html">Tour</a>
                    <a class="nav-item nav-link" href="./integracion.html">Integración</a>
                    <a class="nav-item nav-link" href="./demo.html">Demo</a>
                    <a class="nav-item nav-link" href="./comparacion.html">Comparación</a>
                </nav>
            </div>
        </div>

        <!-- Prices section -->
        <div class="row prices">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-12 col-lg-4 text-center">
                        <div class="prices-plan--offer border rounded">
                            <p class="h4 text-capitalize">Plan Inicia</p>
                            <p class="font-weight-bold">La herramienta que te permite administrar tu negocio.</p>
                            <div class="price-old"><p><del>$15.00</del></p><span>30% OFF</span></div>
                            <div class="price">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-7">
                                            <span class="sym-dollar">10</span>
                                        </div>
                                        <div class="col-5">
                                            <div class="d-block"><span>50</span></div>
                                            <div class="d-block"><span>/MES</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="font-weight-bold">Ahorra 30% al pagar 12 meses*</p>
                            <a href="#" class="btn btn-blue btn-fat text-uppercase">Ordenar ahora</a>
                            <p class="">ó</p>
                            <p class=""><a href="#">30 días de prueba.</a></p>
                            <p class="">(excluye descuento)</p>
                        </div>
                        <ul class="nav flex-column text-left list-unstyled">
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>1 Empresa</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle fa-fw"></i>1 Usuario</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle fa-fw"></i>15 Reportes Financieros</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>500 Clientes</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>Facturas Ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>Cotizaciones Ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle fa-fw"></i>1 Hora con un especialista</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>Contabilidad</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>Notificaciones</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>Transacciones ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle fa-fw"></i>1 Almacén</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-times-circle fa-fw"></i>Soporte Telefónico</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-times-circle fa-fw"></i>Módulos PRO</span></li>
                        </ul>
                        <!-- <a href="#" class="btn btn-blue text-uppercase">Ordenar ahora</a> -->
                        <p class="">30 Días devolución garantizada.</p> 
                        <p class=""><i class="fa fa-lock"></i>Compra Segura</p>
                    </div>

                    <div class="col-12 col-lg-4 text-center">
                        <div class="prices-plan--offer border border-primary-orange rounded">
                            <h2 class="h4 text-capitalize text-dark-orange">Plan Startup</h2>
                            <p class="font-weight-bold">Adaptado a las necesidades de tu negocio.</p>
                            <div class="price-old"><p><del>$25.00</del></p><span>30% OFF</span></div>
                            <div class="price">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-7">
                                            <span class="sym-dollar">17</span>
                                        </div>
                                        <div class="col-5">
                                            <div class="d-block"><span>50</span></div>
                                            <div class="d-block"><span>/MES</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="font-weight-bold">Ahorra 30% al pagar 12 meses*</p>
                            <a href="#" class="btn btn-dark-orange btn-fat text-uppercase">Ordenar ahora</a>
                            <p class="">ó</p>
                            <p class=""><a href="#">30 días de prueba.</a></p>
                            <p class="">(excluye descuento)</p>
                        </div>
                        <ul class="nav flex-column text-left list-unstyled">
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>1 Empresa</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle"></i>5 Usuarios</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle"></i>+45 Reportes Financieros</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>2500 Clientes</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Facturas Ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Cotizaciones Ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle"></i>1 Hora con un especialista</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Contabilidad</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Notificaciones</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Transacciones ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>2 Almacenes</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-times-circle"></i>Soporte Telefónico</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-times-circle"></i>Módulos PRO</span></li>
                        </ul>
                        <!-- <a href="#" class="btn btn-red text-uppercase">Ordenar ahora</a> -->
                        <p class="">30 Días devolución garantizada.</p> 
                        <p class=""><i class="fa fa-lock"></i>Compra Segura</p>
                    </div>

                    <div class="col-12 col-lg-4 text-center">
                        <div class="prices-plan--offer border rounded">
                            <h2 class="h4 text-capitalize">Plan Pro Full</h2>
                            <p class="font-weight-bold">Orientado Posicionar y dejar huella con tu marca.</p>
                            <div class="price-old"><p><del>$35.00</del></p><span>30% OFF</span></div>
                            <div class="price">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-7">
                                            <span class="sym-dollar">24</span>
                                        </div>
                                        <div class="col-5">
                                            <div class="d-block"><span>50</span></div>
                                            <div class="d-block"><span>/MES</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="font-weight-bold">Ahorra 30% al pagar 12 meses*</p>
                            <a href="#" class="btn btn-blue btn-fat text-uppercase">Ordenar ahora</a>
                            <p class="">ó</p>
                            <p class=""><a href="#">30 días de prueba.</a></p>
                            <p class="">(excluye descuento)</p>
                        </div>
                        <ul class="nav flex-column text-left list-unstyled">
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>1 Empresa</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle"></i>15 Usuarios</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle"></i>+75 Reportes Financieros</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Clientes Ilimitados</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Facturas Ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Cotizaciones Ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link font-weight-bold"><i class="far fa-check-circle"></i>4 Horas con un especialista</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Contabilidad</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Notificaciones</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Transacciones ilimitadas</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Almacenes Ilimitados</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Soporte Telefónico</span></li>
                            <li class="nav-item"><span class="nav-link"><i class="far fa-check-circle"></i>Módulos PRO</span></li>
                        </ul>
                        <!-- <a href="#" class="btn btn-blue text-uppercase">Ordenar ahora</a> -->
                        <p class="">30 Días devolución garantizada.</p> -->
                        <p class=""><i class="fa fa-lock"></i>Compra Segura</p>
                    </div>

                    <div class="container-fluid">
                        <p class="text-right small">Si eres una fundación que ayuda a la comunidad o una institución educativa, puedes utilizar NerdcomPRO sin costo.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Best Service section -->
        <div class="row best-service">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <img src="./images/best-service.jpg" alt="Best Service">
                    </div>
                    <div class="col-12 col-lg-6">
                        <h2 class="text-center">El mejor servicio al cliente</h2>
                        <p>Céntrate en generar oportunidades de venta, aumentar tus ingresos y complacer a tus clientes, impulsa tu negocio al
                        éxito con una única plataforma de facturación y contabilidad.</p>
                        <p>En lugar de intentar organizar tu empresa y tus productos con diferentes herramientas, obtén todo lo que necesitas
                        en un solo lugar.</p>
                        <p>De este modo, dejarás de malgastar tu tiempo y esfuerzo, lo que te permitirá crecer de manera exponencial,
                        disfrutar de tu éxito y dejar huella con tu marca.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nerdcom Platform Includes section -->
        <div class="row nerdcom-platform-includes">
            <div class="container">
                <div class="row">
                    <div class="container-fluid">
                        <h2 class="text-uppercase text-center">Nuestro servicio al cliente de NerdcomPro incluye</h2>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="text-uppercase font-weight-bold"><i class="fa fa-check fa-fw"></i>Atención inmediata 24H/D</p>
                        <p>Comunícate con nosotros en cualquier momento a través de nuestra área de clientes, contaras con el personal calificado para solventar tus dudas e inquietudes siempre que lo desees.</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="text-uppercase font-weight-bold"><i class="fa fa-check fa-fw"></i>No hay tiempo de espera</p>
                        <p>Agenda una reunión con nuestro personal en el horario que mejor se adapte a tus requerimientos y permítenos mejorar tu experiencia.</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="text-uppercase font-weight-bold"><i class="fa fa-check fa-fw"></i>Resolveremos tu problema</p>
                        <p>Soporte técnico 24 horas los 7 días de la semana los 365 días del año, Nuestra prioridad número uno es la atención a las necesidades de nuestros clientes.</p>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <p>Versiones gratuitas de todo nuestro software en una única suite de crecimiento. Mejorar tus suscripciones individuales o conjuntas a medida que tu negocio crece.</p>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <a href="" class="btn btn-primary">Prueba 30 días gratis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comparison Table section -->
        <div class="row nerdcom-platform-includes">
            <div class="container">
                <div class="row">
                    <div class="container-fluid">
                        <h2 class="text-center">Tabla de comparación</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"><p class="text-uppercase text-center no-margin">&nbsp;</p></th>
                                        <th scope="col"><p class="text-uppercase text-center no-margin">Inicia</p></th>
                                        <th scope="col"><p class="text-uppercase text-center no-margin">Startup</p></th>
                                        <th scope="col"><p class="text-uppercase text-center no-margin">Pro Full</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col"><span class="d-block text-uppercase">Ingresos</span></th>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Facturación</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Cotizaciones</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Recurrencia</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Conduces</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Recibo de Pago</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Notas de Crédito</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="d-block text-uppercase">Gastos y Control</span></th>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Gastos / Compras</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Gastos menores</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Presupuesto</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Ordenes de Compras</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Cheques</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="d-block text-uppercase">Banking</span></th>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Cuentas de Banco</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Transacciones y Pagos</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Conciliación Bancaria</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="d-block text-uppercase">Contabilidad</span></th>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Catálogo de Cuentas</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Diario General</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Reportes Financieros</p></th>
                                        <td><p class="text-center no-margin">15</p></td>
                                        <td><p class="text-center no-margin">+45</p></td>
                                        <td><p class="text-center no-margin">+75</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="d-block text-uppercase">Impuestos</span></th>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Reportes: 606, 607, 608, TXT, IT1, IR17, NCF</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="d-block text-uppercase">Otros</span></th>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">CRM</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Tickets</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Live Chat</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Área de Clientes</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-check"></i></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">POS</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin">1*</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="d-block text-uppercase">Accesos</span></th>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Usuarios *</p></th>
                                        <td><p class="text-center no-margin">1</p></td>
                                        <td><p class="text-center no-margin">5</p></td>
                                        <td><p class="text-center no-margin">15*</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Clientes *</p></th>
                                        <td><p class="text-center no-margin">500</p></td>
                                        <td><p class="text-center no-margin">2500</p></td>
                                        <td><p class="text-center no-margin">Ilimitados</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">Almacenes *</p></th>
                                        <td><p class="text-center no-margin">1</p></td>
                                        <td><p class="text-center no-margin">2</p></td>
                                        <td><p class="text-center no-margin">Ilimitados</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="text-uppercase">Integraciones </span><span  class="small">Disponible para la versión 5, Julio 2018</span></th>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                        <td><p class="no-margin">&nbsp;</p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">MessageBird</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><img src="./images/message-bird.png" alt="MessageBird"></p></td>
                                        <td><p class="text-center no-margin"><img src="./images/message-bird.png" alt="MessageBird"></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">HubSpot</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><img src="./images/hubspot.png" alt="Hubspot"></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">SalesForce</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><img src="./images/salesforce.png" alt="SalesForce"></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><p class="font-weight-normal no-margin">MailChimp</p></th>
                                        <td><p class="text-center no-margin"><i class="fa fa-lock"></i></p></td>
                                        <td><p class="text-center no-margin"><img src="./images/mailchimp.png" alt="MailChimp"></p></td>
                                        <td><p class="text-center no-margin"><img src="./images/mailchimp.png" alt="MailChimp"></p></td>
                                    </tr>
                                    <tr>
                                        <th scope="col"><span class="d-block text-center font-weight-bold">¡Ordena un año y obtén un 30% descuento!</span></th>
                                        <td><p class="text-center no-margin"><a href="#" class="btn btn-primary text-uppercase">Ordenar ahora</a></p></td>
                                        <td><p class="text-center no-margin"><a href="#" class="btn btn-primary text-uppercase">Ordenar ahora</a></p></td>
                                        <td><p class="text-center no-margin"><a href="#" class="btn btn-primary text-uppercase">Ordenar ahora</a></p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-12 col-md-auto"><i class="fa fa-check fa-fw"></i> Funcionalidad incluidad en el plan.</div>
                            <div class="col-12 col-md-auto"><i class="fa fa-lock fa-fw"></i> No está incluido en el plan.</div>
                            <div class="col-12 col-md-auto">* Puedes adquirir más cantidades.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FAQs section -->
        <div class="row faqs">
            <div class="container">
                <h2 class="text-center">Preguntas Frecuntes</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <p class="font-weight-bold">¿Cómo funciona el Demo de 30 días de NerdcomPRO?</p>
                        <p>Disfruta de nuestro plan full junto a 1 hora de entrenamiento con nuestros expertos, aclara tus  dudas en nuestros webinard y descubre los beneficios que te brinda NerdcomPro.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <p class="font-weight-bold">¿Puedo cambiar de Plan en cualquier momento?</p>
                        <p>Puedes cambiar de Plan cada mes si así lo requieres, accede desde nuestra plataforma de clientes y permítenos orientarte hacia el plan que más se adapte a las necesidades de tu negocio.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <p class="font-weight-bold">¿Cuándo puedo Cancelar el plan que tengo?</p>
                        <p>Puede cancelar en cualquier momento, no hay cláusulas de permanencia o contratos a largo plazo. Nuestra plataforma tiene la ventaja de poder extraer la información almacenada en archivos de  Microsoft Excel y que usted pueda llevarla a donde desee.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <p class="font-weight-bold">¿Qué tipo de tecnología deben tener mis dispositivos?</p>
                        <p>NerdcomPRO almacena su información en la nube por lo cual no utilizara el espacio valioso de sus equipos y gracias a su diseño responsive podrá acceder desde cualquier dispositivo conectado a internet sin importar la versión de su sistema operativo.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <p class="font-weight-bold">¿En caso de fallas como me comunico con ustedes?</p>
                        <p>Uno de los mayores beneficios que brindamos a nuestros clientes es el soporte al cliente, trabajamos con un sistema de tickets en el cual usted podrá comunicar sus dudas e inquietudes a nuestro equipo que labora 24 horas los 7 días de la semana los 365 días del año.</p>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <p class="font-weight-bold">¿El sistema de facturación tiene punto de venta?</p>
                        <p>NerdcomPRO incluyendo el módulo de contabilidad, tiene la alternativa de contar con punto de venta para manejo de caja. Nuestro sistema te permite gestionar tus cuentas bancarias con total seguridad, administra tus ingresos, realiza reportes e Invierte tus ganancias para incrementar tu productividad.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- CallCenter section -->
        <div class="row call-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-9">
                        <p class="lead font-weight-bold"><i class="far fa-lightbulb fa-fw"></i> ¿Aún tienes preguntas sobre cómo NerdcomPRO te ayuda a crecer?</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p class="lead text-center font-weight-bold">Llámanos</p>
                        <p class="lead text-center font-weight-bold"><a href="#"><i class="fa fa-phone-volume fa-fw"></i> +1-877-280-9295</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer section -->
        <footer id="footer" class="row footer"></footer>
    </div>
    <!-- STYLES -->
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="./main.css">
    </noscript>
    
    <!-- SCRIPTS -->
    <script src="./scripts.min.js" async></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4378772.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>

</html>