.nerdcom-platform-hero
    margin-top: 55px
    background: url(./images/_NercomProAnimated.svg), url(./images/NerdcomPro-Background.png)
    background-size: contain
    background-repeat: no-repeat, repeat
    background-position: center bottom, center

.nerdcom-info-hero
	animation-name: fadein
	animation-duration: 3s

.nerdcom-content-hero 
    max-width: 500px 
 