.helpdesk--bad
    margin-left: 0

.helpdesk--good
    margin-left: 150px
    margin-right: 150px  

.nerdcom-publicity img:last-child
    bottom: -18px       

.call-center--info i            
    margin-top: 5px

.call-center--secundary-info
    margin-left: 50px
    
          
    
