.diagram-print, .diagram-expenses, .diagram-inventory,
.diagram-reports, .diagram-pos, .diagram-notification
    width: 270px
    top: 70px 
    left: 590px
    position: relative
    text-align: left
    height: 100px

.diagram-notification, .diagram-contacts, .diagram-banks
    width: 280px
    top: 70px 
    right: 590px
    position: relative
    text-align: right
    height: 100px   

.diagram-print
    top: 10px 
    left: 220px

.diagram-expenses   
    top: 60px 
    left: 100px

.diagram-inventory  
    top: 120px 
    left: 30px

.diagram-reports    
    top: 150px 
    left: 60px 

.diagram-pos    
    top: -110px 
    left: 210px 

.diagram-notification   
    top: 130px 
    left: -260px    

.diagram-contacts
    top: 100px 
    left: -170px    

.diagram-banks
    top: 80px 
    left: -240px                            

.print--info
    margin-top: -60px   
    margin-left: 80px

.expenses--info
    margin-top: -60px   
    margin-left: 100px

.inventory--info
    margin-top: -70px   
    margin-left: 70px

.reports--info
    margin-top: -70px   
    margin-left: 70px

.pos--info
    margin-top: -60px   
    margin-left: 90px   

.notification--info
    margin-top: -60px   
    margin-right: 70px      


.contacts--info
    margin-top: -60px   
    margin-right: 90px

.banks--info
    margin-top: -60px   
    margin-right: 80px              

.diagram
    width: 100%
    overflow: hidden
    margin-top: -9em

.images
    width: 100%

.diagram-img--kai
    max-width: 640px
    position: absolute
    z-index: -1
    margin-left: -33px

.diagram-img--circle
    max-width: 640px
    margin-left: -36px

.helpdesk--good,
.helpdesk--bad
    max-width: 350px
    margin: auto

/*.modern-business
    background-image: url(./images/new-2017__state3-circles-bg.svg)
    background-repeat: no-repeat
    background-size: cover*/

.call-center--info i
    font-size: 2em
    float: left
    margin-top: 5px         

.call-center--primary-info
    font-size: 25px

.call-center--secundary-info
    margin-left: 32px         

.call-center--phone
    font-size: 22px        

.helpdesk--bad
    margin-left: 0

.helpdesk--good
    margin-left: 150px
    margin-right: 150px  

.nerdcom-publicity img:last-child
    bottom: -18px       

.call-center--info i            
    margin-top: 5px

.call-center--secundary-info
    margin-left: 50px
    
          
    
