.nerdcom-platform--link-video
    position: absolute
    width: 60px
    margin-left: 45px
    font-size: 60px !important
    color: white
    margin-top: -10px

.modal.fade .modal-dialog
    -webkit-transition: -webkit-transform 0.3s ease-out
    -moz-transition: -moz-transform 0.3s ease-out
    -o-transition: -o-transform 0.3s ease-out
    transition: transform 0.3s ease-out

.modal-dialog
    max-width: 800px
    margin: 30px auto

.modal-body 
    position: relative
    padding: 0px
    height: 430px

.close 
    position:absolute
    right: -30px
    top: 0
    z-index: 999
    font-size: 2rem
    font-weight: normal
    color: #000000
    opacity: 1 

.youtube-player iframe
    position: absolute 
    top: 0 
    left: 0 
    width: 100% 
    height: 100% 
    z-index: 100 
    background: transparent 
 

.youtube-player img  
    bottom: 0 
    display: block 
    left: 0 
    margin: auto 
    max-width: 100% 
    width: 100% 
    position: absolute 
    right: 0 
    top: 0 
    border: none 
    height: auto 
    cursor: pointer 
    -webkit-transition: .4s all 
    -moz-transition: .4s all 
    transition: .4s all 
 

.youtube-player img:hover  
    -webkit-filter: brightness(75%) 

.youtube-player .play  
    height: 72px 
    width: 72px 
    left: 50% 
    top: 50% 
    margin-left: -36px 
    margin-top: -36px 
    position: absolute 
    background: url("//i.imgur.com/TxzC70f.png") no-repeat 
    cursor: pointer

.diagram-img--circle
    max-width: 700px
    margin-left: 5px      

.helpdesk--good
    margin-left: 40px

.nerdcom-publicity img:last-child
    bottom: 142px
    max-width: 80%

.call-center--info i
    font-size: 5em
    margin-top: 10px

.call-center--primary-info
    font-size: 35px

.call-center--secundary-info
    text-align: left 