.nerdcom-diagram--info
    .nerdcom-diagram--bgs
        background-size: 670px 550px, 310px 310px

        .first-row
            .diagram-ncf
                top: 0px
                left: 60px

            .diagram-bank
                top: 85px

        .center-row
            margin-top: 170px

        .last-row
            margin-top: 90px

            .diagram-pos    
                top: 190px 
                left: 60px     