.nerdcom-diagram--info
    .nerdcom-diagram--bgs
        background-size: 670px 550px, 310px 310px

.graphic
    height: 850px 

.diagram-print
    top: 40px 
    left: 340px

.diagram-expenses   
    top: 130px 
    left: 210px

.diagram-inventory  
    top: 230px 
    left: 120px

.diagram-reports    
    top: 300px 
    left: 190px 

.diagram-banks
    top: 130px 
    left: -310px

.diagram-contacts
    top: 220px 
    left: -190px

.diagram-notification   
    top: 290px 
    left: -270px                      

.diagram-pos    
    top: -140px 
    left: 330px

.diagram-img--kai
    position: absolute
    z-index: 0
    left: 50%
    transform: translateX( -50% )
    margin: 120px auto
    max-width: 310px

.diagram-img--circle
    max-width: 900px
    margin: 110px auto