/*HERO*/
.nerdcom-hero--index
	height: 945px

/* LAYER FLOAT*/
.floating-advertising
	position: absolute
	z-index: 9999
	width: 100%

.cta-advertising
	margin-right: 2px
	background-color: black	
	display: block !important
	float: right
	color: white

.cta-advertising.cta-advertising-white
	background-color: white
	color: red

#advertising	
	margin-top: 31px
	margin-right: -52px !important
	transition: .3s
	width: 200px

/* DIAGRAM NERDCOM */	

.nerdcom-diagram--icons
    font-size: 60px
    padding-bottom: 5px

/* CALL CENTER*/    

.call-center--info i
    font-size: 2em
    float: left   