<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102297130-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-102297130-1');
    </script>
    <!-- End Global site tag -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MGPDMVB');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <meta name="author" content="nerdcom.us">
    <meta name="replay" content="rjavier@nerdcomhost.com">
    <meta name="description" content="web hosting, domain names, web site, search engine optimization, hosting, servers">
    <meta name="keywords" content="Web Hosting Services,Reseller Hosting,VPS,Cloud,and Dedicated Servers,Web Hosting Domain">
    <meta name="Resource-type" content="Homepage">
    <meta name="Revisit-after" content="1 days">
    <meta name="robots" content="all">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nerdcom Host - web hosting, domain names, web site, hosting, servers</title>

    <!-- STYLES -->
    <link rel="canonical" href="https://nerdcom.host/">
    <link rel="shortcut icon" href="../images/favicon.ico">
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGPDMVB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container-fluid">
    <!-- Header section -->
    <header id="header" class="row header mobile-header" data-path-images="../images/"></header>

    <!-- Hero section -->
    <div class="row nerdcom-platform-hero spacer-in-top-50 spacer-in-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 pt-5 text-white text-center text-lg-left">
                    <h1 class="font-weight-bold">Enfócate en vender más y déjale la administración a NerdcomPRO</h1>
                    <p class="text-spacing font-weight-normal mb-4">El Sistema contable multiplataforma con reportes DGII 606,607 y financieros. Hacer crecer tu negocio será mucho más fácil.</p>
                    <a href="./prices.html" class="btn mb-3 btn-white btn-fat text-capitalize font-weight-bold text-gray-700">Ordenar ahora</a>
                </div>
            </div>
        </div>
    </div>

    <!-- NERDCOM Platform Menu -->
    <div id="platform" class="row nerdcom-platform-menu bg-gray-100" data-active="tour"></div>


    <!-- CallCenter section -->
    <div class="row call-center spacer-in-top-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-9">
                    <p class="lead font-weight-bold text-gray-700"><i class="far fa-lightbulb fa-fw"></i> ¿Aún tienes preguntas sobre cómo NerdcomPRO te ayuda a crecer?</p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="lead text-center text-gray-700 font-weight-bold">Llámanos</p>
                    <p class="lead text-center font-weight-bold"><a href="#"><i class="fa fa-phone-volume fa-fw"></i> +1-877-280-9295</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer section -->
    <footer id="footer" class="row footer" data-path-images="../images/"></footer>
</div>
<!-- STYLES -->
<noscript id="deferred-styles">
    <link rel="stylesheet" href="../main.css">
</noscript>

<!-- SCRIPTS -->
<script src="../scripts.min.js" async></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4378772.js"></script>
<!-- End of HubSpot Embed Code -->
</body>

</html>