/* style */
.impulsa-hero
    background: url(../images/impulsa-emprende.png)
    background-color: #1D201C
    background-size: contain
    height: 760px
    background-repeat: no-repeat
    background-position: center bottom

/* PRICE */    
.prices--offer
    padding-top: 4.5rem
    padding-bottom: 4.5rem
    margin-left: -1px
    margin-right: -1px
    border: 1px solid green !important

/* FORM INFORMATION */
.form
	height: 1170px

/* Services Team*/
.services-team
    background-image: url(./images/new-2017__state3-circles-bg.svg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.services-team img
	width: 250px

.social-media i
	font-size: 30px
	color: green
	padding: 10px

/* PARTNERS */
.partners img
	width: 140px
	height: 60px
	margin-left: 40px
	filter: grayscale(100%)

.partners img:hover
	filter: none    