/* style */
.impulsa-hero
    background: url(../images/impulsa-emprende.png)
    background-color: #1D201C
    background-size: contain
    height: 620px
    background-repeat: no-repeat
    background-position: center bottom